<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
        <rewrite>
            <rules>
               <rule name="301" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" ></match>
                    <conditions logicalGrouping="MatchAll">                       
                         <add input="{HTTP_FROM_HTTPS}" pattern="^on$" negate="true" ></add>  
                  </conditions>
                    <action type="Redirect" url="https://www.ez13.top/{R:1}" redirectType="Permanent" ></action>
               </rule>
            </rules>
        </rewrite>
    </system.webServer> 
</configuration>